<!DOCTYPE html>
<html lang="en" ng-app="AsterixApp">

<head>
    <title>Comics</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body ng-controller="ComicController">
    <h1 class="py-4 justify-content-center text-center">Angular Comics</h1>
    <hr>

    <div class="row justify-content-center py-5">
        <div class="col-auto">
            <table>
                <tr>
                    <td class="p-3">
                        <button class="btn btn-danger" ng-click="previous();">previous
                        </button>
                    </td>
                    <td class="p-3">
                        <img class="big" src="{{comics[comicCount]}}">
                    </td>
                    <td class="p-3">
                        <button class="btn btn-success" ng-click="next();">next</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

<!-- script -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script type="text/javascript" src="assets/js/app.js "></script>

</html>